language: java
jdk:
  - oraclejdk8
env:
  global: JAVA_TOOL_OPTIONS="-XX:+TieredCompilation -XX:ReservedCodeCacheSize=150m -XX:+UseCodeCacheFlushing -XX:-DontCompileHugeMethods"

#validate javadoc
before_install: mvn -B -q lombok:delombok javadoc:javadoc -Dshow=package

install: mvn -B -q install -DskipTests=true
script: mvn -B -Ptravis test jacoco:report

after_success:
  - mvn coveralls:report

cache:
  directories:
    - $HOME/.m2
